* { padding: 0; margin: 0; }
html { overflow-y: scroll; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666; }

#adminNavigation { height: 20px; font-size: 12px; border-bottom: 1px solid #ededed; margin-bottom: 1px; }
#adminNavigation > ul { list-style-type: none; margin: 0; padding: 0; float: left; overflow: hidden; }
#adminNavigation > ul > li { float: left; }
#adminNavigation > ul > li > a { display: block; float: left; height: 20px; line-height: 20px; text-decoration: none; color: #999999; padding: 0 15px; }
#adminNavigation > ul > li > a:hover,
#adminNavigation > ul > li.active > a { color: #666666; }
#adminNavigation > ul.logout { float: right; }
#adminNavigation > ul.logout > li > a { color: #FD162C; }
#adminNavigation > ul.logout > li > a:hover { color: #c60013; }

#adminPage { width: 960px; margin: 0 auto; margin-top: 40px; }
#adminPage h1 { font-weight: normal; font-size: 45px; margin-bottom: 30px; color: #000; }


div.root { overflow: hidden; clear: both; background-color: #eee; padding: 5px 8px; border-top-left-radius: 3px; border-top-right-radius: 3px; height: 17px; }
div.root .label { float: left; display: block; font-weight: bold; line-height: 17px; height: 17px; }
div.root a.down { margin-left: 20px; background-position: top left; float: right; width: auto; padding-left: 20px; text-decoration: none; font-size: 11px; color: #000; padding-top: 1px; }
div.root a.add { margin-left: 20px; background-position: top left; float: right; width: auto; padding-left: 20px; text-decoration: none; font-size: 11px; color: #000; padding-top: 1px; }

ol.treeView { list-style-type: none; margin: 0; padding: 0; overflow: hidden; clear: both; padding: 2px; border: 0px solid #eee; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
ol.treeView .node { overflow: hidden; clear: both; padding: 3px; border-bottom: 1px dotted #ddd; }
ol.treeView .node:hover { background-color: #eee; border-radius: 3px; }
ol.treeView .expander { float: left; overflow: hidden; height: 20px; width: 18px; }
ol.treeView .expander > a { display: block; width: 20px; height: 20px; }
ol.treeView .expander > a.open { background: url('../../images/icon/16x16/treeview_plus.png') left no-repeat; }
ol.treeView .expander > a.close { background: url('../../images/icon/16x16/treeview_minus.png') left no-repeat; }
ol.treeView .label { display: block; float: left; overflow: hidden; height: 20px; line-height: 20px; cursor: move; }
ol.treeView .action { display: block; float: right; overflow: hidden; height: 20px; }
ol.treeView .action > ul { list-style-type: none; overflow: hidden; clear: both; padding-top: 3px; }
ol.treeView .action > ul > li { float: left; }
ol.treeView .action > ul > li > a { display: block; height: 20px; float: left; width: 16px; padding: 0 5px; border-right: 1px dotted #ddd; }
ol.treeView .action > ul > li:last-child > a { border: 0; } 
ol.treeView .action > ul > li:last-child > a { padding-right: 0px; }
ol.treeView li.site { margin-bottom: 20px; }
ol.treeView li.site > .node { background-color: #333; color: #fff; border-radius: 0px; border-bottom: 0; }
ol.treeView ol { border: 0; padding: 0; list-style-type: none; }
ol.treeView ol .node { padding-left: 18px; }
ol.treeView ol ol .node { padding-left: 36px; }
ol.treeView ol ol ol .node { padding-left: 54px; }
ol.treeView ol ol ol ol .node { padding-left: 72px; }
ol.treeView ol ol ol ol ol .node { padding-left: 90px; }
ol.treeView ol ol ol ol ol ol .node { padding-left: 108px; }
ol.treeView ol ol ol ol ol ol ol .node { padding-left: 126px; }
ol.treeView ol ol ol ol ol ol ol ol .node { padding-left: 144px; }
ol.treeView ol ol ol ol ol ol ol ol ol .node { padding-left: 162px; }
ol.treeView ol ol ol ol ol ol ol ol ol ol .node { padding-left: 180px; }
ol.treeView ol ol ol ol ol ol ol ol ol ol ol .node { padding-left: 198px; }

a.down { display: block; float: left; background: url('../../images/icon/16x16/green_arrow_down.png') top center no-repeat; width: 16px; height: 16px; }
a.right { display: block; float: left; background: url('../../images/icon/16x16/green_arrow_right.png') top center no-repeat; width: 16px; height: 16px; }
a.edit { display: block; float: left; background: url('../../images/icon/16x16/edit.png') top center no-repeat; width: 16px; height: 16px; }
a.delete { display: block; float: left; background: url('../../images/icon/16x16/delete.png') top center no-repeat; width: 16px; height: 16px; }
a.back { display: block; float: left; background: url('../../images/icon/16x16/back.png') top center no-repeat; width: 16px; height: 16px; }
a.add { display: block; float: left; background: url('../../images/icon/16x16/add.png') top center no-repeat; width: 16px; height: 16px; }

.form { }
.form .row { overflow: hidden; clear: both; padding: 5px; }
.form .row .hint { overflow: hidden; clear: both; margin-left: 155px; font-size: 10px; margin-top: 2px; }
.form .row br { clear: both; overflow: hidden; }
.form .row .checkboxRadio { float: left; }
.form .row .checkboxRadio .errorMessage { margin-left: 0;  margin-top: 3px; }
.form .row:nth-child(even) { background-color: #eee; }
.form .row label { display: block; float: left; padding-top: 3px; width: 150px; padding-left: 5px; }
.form .row label .required { color: #FD162C; }
.form .row input[type="text"],
.form .row input[type="password"],
.form .row textarea,
.form .row select { float: left; display: block; font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 300px; padding: 3px; border: 1px solid #ccc; }
.form .row select { width: 308px; }
.form .row input[type="checkbox"],
.form .row input[type="radio"] { margin-top: 3px; float: left; display: block;}
.form .row textarea { height: 130px; }
.form .row input[type="file"] { float: left; display: block; }
.form .row .errorMessage { margin-left: 155px; clear: both; color: #FD162C; font-size: 10px; }
.form .row .expand { clear: both; margin-left: 155px; padding-top: 5px; overflow: hidden; }
.form .row .expand .column { float: left; overflow: hidden; margin-right: 20px; }
.form .row .expand .column p.user { margin-top: 3px; }
.form .row table.files { font-size: 0.9em; font-family: Arial, Helvetica, sans-serif; padding: 5px; border-bottom: 1px dashed #ddd; margin-top: 3px; margin-bottom: 6px; border-spacing: 0; border-collapse: collapse;  }
.form .row table.files th { padding: 0; text-align: left; font-weight: bold; vertical-align: top; width: 120px; padding-bottom: 7px; }
.form .row table.files td { padding: 0; text-align: left; vertical-align: top; padding-bottom: 7px; }
.form .row table.files input[type="text"],
.form .row table.files input[type="password"],
.form .row table.files textarea,
.form .row table.files select { width: 175px; font-size: 10px; }
.form .row table.files select { width: 183px; }
.form .row table.files .uploadChecked { float: left; margin-top: 3px; margin-left: 10px; }
.form .row .addnew { margin-left: 155px; margin-top: 15px; margin-bottom: 15px; overflow: hidden; }
.form .row .addnew a.add { padding-left: 20px; color: #000; width: auto; background-position: left; text-decoration: none; }
.widgetrow { margin-bottom: 10px; overflow: hidden; clear: both; }

.form .locale { margin-bottom: 10px; overflow: hidden; clear: both; }
.form .locale .line { border-bottom: 1px solid #ddd; height: 1px; margin-top: -2px; }
.form .locale ul { list-style-type: none; padding: 0; margin: 0; overflow: hidden; clear: both; }
.form .locale ul li { float: left; }
.form .locale ul li a { height: 20px; line-height: 20px; color: #999; border-top: 1px solid #fff; text-decoration: none; display: block; float: left; padding: 0 15px; }
.form .locale ul li a:hover { color: #666; }
.form .locale ul li.active a { border: 1px solid #ddd; border-bottom: 1px solid #fff; color: #666; }
.form h3 { font-size: 14px; font-weight: bold; color: #666; margin-top: 15px; margin-bottom: 4px; border-bottom: 1px solid #666; }
.form h3.fields { cursor: pointer; }
.form .row.widget { margin-bottom: 0px; }
.form .row.widget:last-child { margin-bottom: 0; }
.form .row.widget h4 { color: #000; font-size: 13px; margin-bottom: 5px; font-style: italic; cursor: pointer; }
.form .previewPic { float: left; display: block; margin-left: 20px; }
.form .previewPic a.delete { margin-left: 10px; }

.form .previewPics{
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}
.form .previewPics .vorschauBild{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.toolbar { clear: both; overflow: hidden; margin-bottom: 30px; }
.toolbar a { margin-right: 25px; }
.toolbar a.back { text-decoration: none; color: #000; width: auto; padding-left: 20px; background-position: top left; }
.toolbar a.edit { text-decoration: none; color: #000; width: auto; padding-left: 20px; background-position: top left; }
.toolbar a.add { text-decoration: none; color: #000; width: auto; padding-left: 20px; background-position: top left; }


.referencePic { width: 100%; font-size: 11px; margin-top: 20px; }
.referencePic th { text-align: center; background: #999; color: #fff; padding: 3px; border-right: 1px solid #fff; }
.referencePic th.name { text-align: left; }
.referencePic th.delete { background: #FD162C; }
.referencePic td { padding: 6px 3px; text-align: center; vertical-align: middle; border-right: 1px solid #fff; }
.referencePic td input { border: 1px solid #bbb; padding: 2px; font-size: 1em; }
.referencePic td.pos input { width: 25px; text-align: center; }
.referencePic td.name { width: 145px; }
.referencePic td.name a { display: block; width: 145px; overflow: hidden; margin-bottom: 5px; }
.referencePic td.name input[type="text"] { width: 139px; }
.referencePic tr:hover { background: #eee; }
.referencePic tr.row td { border-bottom: 1px dashed #ccc; }

p.add { margin-bottom: 5px; clear: both; overflow: hidden;  }
p.add a.add { text-decoration: none; color: #000; width: auto; padding-left: 20px; background-position: top left; }

#adminBody .grid-view table.items th { text-align: left; color: #fff; cursor: pointer; }
#adminBody .grid-view table.items th a { color: #fff; display: block; }
#adminBody .grid-view table.items td.button-column { text-align: right; width: 100px; }
#adminBody .grid-view table.items td.button-column a { float: right; display: block; padding-left: 9px; }
#adminBody .grid-view table.items td.button-column a.delete { background: none; }

.successMsg { background-color: #59c969; color: #fff; margin-bottom: 10px; padding: 5px; border-radius: 3px; }

.clearBoth { clear: both; }
.floatLeft { float: left; }
.floatRight { float: right; }
a { color: #1e69b9; text-decoration: none; }
a:hover { text-decoration: underline; }
img { border: 0; }


#container-portfoliofields .portfolioBox { text-align: center; cursor: pointer; height: 125px; overflow: hidden; float: left; width: 150px; border: 5px solid #666; border-bottom: 0; margin-right: 18px; margin-top: 18px; }
#container-portfoliofields .portfolioBox img { }
#container-portfoliofields .portfolioBox:hover  { border: 5px solid #e400ff; border-bottom: 0; }
#container-portfoliofields .portfolioBox.active  { border: 5px solid #aa00be; border-bottom: 0; }
#container-portfoliofields .portfolioBox .overlay { text-align: left; padding: 5px 0; font-size: 11px; font-weight: bold; color: #fff; height: 30px; width: 150px; background-color: #666; }
#container-portfoliofields .portfolioBox .overlay input { font-size: 11px; border: 1px solid #333; text-align: center; padding: 3px; }
#container-portfoliofields .portfolioBox:hover .overlay { background-color: #e400ff; }
#container-portfoliofields .portfolioBox.active .overlay { background-color: #aa00be; }

#kontaktseite-form .boxCont{
    overflow: hidden;
    position: relative;
}
#kontaktseite-form .boxCont .box{
    overflow: hidden;
    position: relative;
    float: left;
    margin-right:100px;
}
#kontaktseite-form .boxCont .box:last-child{
    margin-right: 0;
}

#kontaktseite-form .boxCont .box label, #kontaktseite-form .boxCont .box input{
    float: none;
}

#kontaktseite-form .boxCont .box textarea, #kontaktseite-form .boxCont .box input{
    width: 240px;
}
#kontaktseite-form .boxCont .box input{
    margin-bottom: 10px;
}
#terminplan-form .tagName{
    display: inline-block;
    width: 80px;
}
#terminplan-form .tag{
    padding: 8px 0px 6px 10px;
    position: relative;
}
#terminplan-form .tag:nth-child(even){
    background-color: #eee;
}
#terminplan-form .tagError{
    position: relative;
    padding-top: 2px;
    line-height: 17px;
    clear: both;
    color: #FD162C;
    font-size: 10px;
}
#terminplan-form #container-freitage h4{
    margin-bottom: 10px;
    font-size: 12pt;
}
#terminplan-form #container-freitage input{
    font-size: 13px;
    width: 180px;
}
#terminplan-form #container-freitage select{
    height:28px;
    width: 70px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
}
#terminplan-form #container-freitage span{
    display: block;
    float: left;
}
#terminplan-form .ferienBox:nth-child(even){
    background-color: #eee;
}
.ferienBox{
    padding: 15px;
    position: relative;
    overflow: hidden;
}
#terminplan-form .ferienBox span{
    width: 36px;
    padding-top: 6px;
}
#terminplan-form .fehelermeldung{
    padding-top: 22px;
    display: block;
}
#terminplan-form .fehelermeldung .errorMessage{
    padding-top: 3px;
    margin-left: 37px;
}
/* Ferien Liste */
.ferienListe li{
    padding:15px;
}

.ferienListe li:nth-child(even){
    background-color: #eee;
}

.ferienListe .bis{
    margin-left: 30px;
}

#ferienliste-form .tagName{
    display: inline-block;
}
#ferienliste-form .ferienListe .errorMessage{
    margin-left: 30px;
    margin-top: 5px;
}
.ferienListe a.delete{
    cursor: pointer;
    float: right;
}
.behandlungCont{
    position: relative;
    overflow: hidden;
}

.behandlungCont .delete {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Buchungs Form */

#buchung-form .buchungCont,#termin-form .buchungCont{
    float:left;
}
#buchung-form .buchungCont h3,#termin-form .buchungCont h3{
    margin-bottom: 20px;
}

.fragenCont{
    margin-top: 10px;
    //display: none;
}
.fragenCont h4{
    margin-bottom: 10px;
}

.planFragenCont{
    display: none;
}
.errorBehandlung{
    color: red;
    margin-top: 15px; 
}
