/* Form
-------------------------------------------------------------------------------------------*/
.form { }
.form .row { overflow: hidden; clear: both; padding: 5px 0; }
.form .row:nth-child(even) { }
.form .row.checkbox { margin-left: 150px; }
.form .row.checkbox label { padding-top: 1px; margin-left: 5px; width: auto; }
.form .row label { display: block; float: left; padding-top: 3px; width: 150px; }
.form .row label .required { color: #FD162C; }
.form .row input[type="text"],
.form .row input[type="password"],
.form .row textarea,
.form .row select { float: left; display: block; font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 300px; padding: 3px; border: 1px solid #ccc; }
.form .row select { width: 308px; }
.form .row input[type="checkbox"],
.form .row input[type="radio"] { margin-top: 3px; float: left; display: block;    margin: 0;}
.form .row textarea { height: 130px; }
.form .row input[type="file"] { float: left; display: block; }
.form .row .errorMessage { margin-left: 150px; clear: both; color: #FD162C; font-size: 10px; }
.successMsg { color: #fff; padding: 5px; background-color: #2d9b3a; margin-bottom: 20px; }
/*-----------------------------------------------------------------------------------------*/