/* Reset
-------------------------------------------------------------------------------------------*/
* { margin: 0; padding: 0; }
html { overflow-y: scroll; }
/*-----------------------------------------------------------------------------------------*/
::selection{
    background-color:#808080;
    color:white;
}

/* Layout
-------------------------------------------------------------------------------------------*/
#l_page { }
#l_page .inner { margin: 0 auto; overflow: hidden; clear: both; }

#l_header { }
#l_header > .inner { }

#l_logo { }

#l_navigation { float: left; }
#l_navigation > ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; clear: both; }
#l_navigation > ul > li { float: left; }
#l_navigation > ul > li > a { display: block; float: left; padding: 0 15px; }
#l_navigation > ul > li:last-child > a {  }
#l_navigation > ul > li:hover,
#l_navigation > ul > li.active { }
#l_navigation > ul > li:hover > a,
#l_navigation > ul > li.active > a { }

#l_switcher { float: right; }
#l_switcher > ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; clear: both; }
#l_switcher > ul > li { float: left; }
#l_switcher > ul > li > a { display: block; float: left; padding: 0 5px; }
#l_switcher > ul > li > a:hover,
#l_switcher > ul > li.active > a { }

#l_body { }
#l_body .inner { padding-top: 180px;}

#l_body > .inner > .leftbar { float: left; }

#l_body > .inner > .rightbar { float: right; }

#l_body .inner > .main { float: left; }
#l_body .inner > .main.main-none { float: none; }
#l_body .inner > .main > .view-content p:last-child { margin-bottom: 0; }
#l_body .inner > .main > .view-content > .cms-content { }
#l_body .inner > .main > .view-content > .cms-widget { }
#l_body .inner > .main > .view-content > .cms-widget .widget { }
#l_body .inner > .main > .view-content > .cms-widget .widget:last-child { }

#l_footer { }
#l_footer > .inner { }

/* FOOTER SITEMAP */
/******************/

/*
#l_footer { padding-top: 65px; height: 340px; background: url('/images/own/footer_bg.png') no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; font-family: 'LiberationSansRegular', Arial;}
#l_footer > .inner {height: inherit; width: 1000px; margin: 0 auto; color: white;}
#l_footer > .inner .rowcontainer { min-width: 50px; float: left;}
#l_footer > .inner .rowcontainer .row {width: 176px; margin-right: 30px; margin-bottom: 60px;}
#l_footer > .inner .rowcontainer .row h3 { width: 176px; margin-bottom: 20px;}
#l_footer > .inner .rowcontainer .row h3 a {color: white; text-decoration: none; text-transform: uppercase; font-size: 12px; font-family: 'LiberationSansBold', Arial;}
#l_footer > .inner .rowcontainer .row.last {margin-right: 0px;}
#l_footer > .inner .rowcontainer .row ul{list-style-type: none; padding: 0; overflow: hidden; margin-bottom: 0px;}
#l_footer > .inner .rowcontainer .row ul li {}
#l_footer > .inner .rowcontainer .row ul li a {text-decoration: none; color: white; font-size: 11px;}
#l_footer > .inner > span.copyright { color: rgb(190,190,190); font-family: 'LiberationSansRegular', Arial; font-size: 11px;}
*/

p.editPage { clear: both; overflow: hidden; margin-bottom: 20px; }
p.editPage a.edit { padding-left: 20px; font-size: 12px; color: #000; width: auto; background-position: left; line-height: 16px; }
p.editPage a.edit:hover, p.editPage a.edit:focus, p.editPage a.edit:active { text-decoration: none; }
a.edit { display: block; float: left; background: url('../../images/icon/16x16/edit.png') top center no-repeat; width: 16px; height: 16px; }
/*-----------------------------------------------------------------------------------------*/

/* Admin Navigation
-------------------------------------------------------------------------------------------*/
#adminNavigation { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666; height: 20px; font-size: 12px; border-bottom: 1px solid #ededed; margin-bottom: 1px; 
                   z-index: 10000;
                   position: relative;}
#adminNavigation > ul { list-style-type: none; margin: 0; padding: 0; float: left; overflow: hidden; z-index: 1;}
#adminNavigation > ul > li { float: left;z-index: 1; padding-left: 0px;}
#adminNavigation > ul > li:before{
    display:none;
}
#adminNavigation > ul > li > a {z-index: 1; display: block; float: left; height: 20px; line-height: 20px; text-decoration: none; color: #999999; padding: 0 15px; }
#adminNavigation > ul > li > a:hover,
#adminNavigation > ul > li.active > a { color: #666666; }
#adminNavigation > ul.logout { float: right; }
#adminNavigation > ul.logout > li > a { color: #FD162C; }
#adminNavigation > ul.logout > li > a:hover { color: #c60013; }

/* MISC
-------------------------------------------------------------------------------------------*/
.floatLeft { float: left; }
.floatRight { float: right; }
.clearBoth { clear: both; }


/* Eigenes CSS */

/**************** Header ****************/

/* Naviagtion */
#l_navigation ul.mainmenu  li  a >span.fa{
    position: absolute;
    right: 15px;
    top: 4px;
}
#l_navigation ul.mainmenu > li > a >span.fa {
    display: none;
} 

#l_navigation .dropdown-menu>.active>a{
    background-color: transparent;
}

/* Logo */
#logoHeader{
    padding-right: 0;
}
/**************** Body ****************/

/* Body */
.view-content{
    margin-top: 55px;
}

.view-content.noBigHeader{
    margin-top: 100px;
}

#l_body .breadcrumbCont{
    float: right;
    margin-top: -80px;
}

/* Homeslider */
#l_body .homeBox:hover{
    //background-color: rgba(100,100,100,.98);
    background-color: #4D4D4D;
}
#l_body .homeLink{
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#l_body .fehlerCont{
    float: right ;
    margin-bottom: 30px;
}
#l_body .alert-danger h6{
    display:inline;
}

/* Slider */
#l_body .slider-nav{
    margin-bottom: 55px;
}
#l_body .slider-nav .nav-pages{
    vertical-align: middle;
}

/* Kontakt Widget */
#kontaktWidget address{
    padding-right: 75px;
}

/**************** Footer ****************/
#l_footer span.fa{
    display:none;
}

/**************** Kunde Widget ****************/
#l_body .kunde-slider{
    //margin-bottom: 20px;
}

/**************** FAQ ****************/
#faqCont .faqAnz{
    padding: 0;
    margin: 0;
    padding-right: 10px;
    padding-top: 3px;
    right: 0;
}

/**************** Zaehler Widget ****************/
#zaehlerCont .zaehlerBox, #angebotCont .angebotBox{
    margin-bottom: 20px;
}

/**************** Team Widget ****************/
#l_body .team img{
    width: 360px;
    height: 360px;
}
#l_body .person-modal .container {
    padding: 105px 0 50px;
}
#l_body .person-modal .container img{
    width: 360px;
    height: 360px;
}
#l_body .person-modal .container .teamText p{
    margin-bottom: 20px;
}
/**************** FancyBox ****************/
.fancybox-wrap, .fancybox-wrap *{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
}

/**************** Suchfunktion ****************/
.searchFoundItem{
    position:relative;
    overflow: hidden;
    padding:20px;
}
.searchFoundItem h3{
    margin-bottom: 10px;
}
.searchFoundItem.even{
    background-color: #F0F0F0;
}
.yiiPager li:before{
    content:"";
}
.yiiPager .next,.yiiPager .previous{
    display: none;
}

/* Table für partner */
.tablePartner td{
    padding: 5px;
}
.tablePartner tr:nth-child(even) td, .tablePartner tr.even td {
    background: transparent;
}
.partnerOberTabel tr:nth-child(even) td, .partnerOberTabel tr.even td{
    //width: 215px;
    background: transparent;
}
.partnerOberTabel img{
    display: inline-block;
    margin-bottom: 20px;
    border: 3px solid #F0F0F0
}
.partnerUnterTabel tr:nth-child(even) td, .partnerOberTabel tr.even td{
    background: transparent;
}
.partnerUnterTabel img{
    display: inline-block;
    margin-bottom: 20px;
    border: 3px solid #F0F0F0
}
.contentBild1 {
    margin-right:20px; 

    border: 3px solid #F0F0F0
}

/* Galerie Modul Fancybox */
.slider-modal img{
    margin-top: 45%;
}

/* Zahnersatz bilder */
ul.noBefore li:before{
    content: "";
}

/* Widget mehrere Gallerien */
.galleryCont{

}
.galleryCont .galleryBox{
    overflow: hidden;
    text-align: center;
    display: block;
}
.galleryCont .galleryBox .imgCont{
    position: relative;
    overflow: hidden;
}
.galleryTitel{
    float:left;
}
.galleryVor h3{
    position: absolute;
    right: 0;
    margin-right: 95px;
}
.galleryNach h3{
    margin-left: 60px;
}
