/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.04.2015, 14:56:44
    Author     : Kisanth
*/

@media (max-width: 767px){
    /****************** Header ****************/
    .header.header-small:before {
        height: 175px;
    }
    #l_navigation .navbar-fixed-top.affix-top {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #l_navigation .container .navbar-brand{
        font-size: 24px;
    }

    #l_navigation .navbar-menu ul ul, #l_navigation .navbar-menu ul ul li, #l_navigation .navbar-menu ul ul li a {
        transition: all 0.15s ease;
    }
    #l_navigation .navbar-menu  ul.mainmenu ul li.withSub ul{
        display: block;
        padding-top: 5px;
    }
    #l_navigation .navbar-menu  ul.mainmenu ul li.withSub:hover ul{

    }
    #l_body .pageTitle{
        font-size: 20px;
        line-height: 30px;
    }
    #l_body .breadcrumb{
        display: none;
    }
    #l_body .inner {
        padding-top: 90px;
    }
    #l_body .search > button{
        margin-top: 10px;
    }
    #l_body .search-form input[type=text] {
        font-size: 10pt;
    }
    #l_body .search-form{
        width: 290px;
        top: 0;
        margin-top: 20px;
    }
    .view-content.noBigHeader {
        margin-top: 45px;
    }
    #l_body h2{
        font-size: 20px;
        
    }
}