/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.05.2015, 12:26:58
    Author     : Kisanth
*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
.terminanfrageCont{
    position: relative;
    overflow: hidden;
    display: block;
    font-family:'Raleway', sans-serif;
    font-weight: bold;
}
/* Formular Schritte */
.terminanfrageCont .schritteCont{
    position: relative;
    overflow: hidden;
    display:block;
}
.terminanfrageCont .schritteCont .schritte{
    float: left;
    margin-right: 64px;
    font-size: 15px;
    position: relative;
    color: #808080;
}
.terminanfrageCont .schritteCont .schritte.active{
    color: #333333;
    font-weight: bold;
}
.terminanfrageCont .schritteCont .schritte:last-child{
    margin-right: 0;
}
.terminanfrageCont .schritteCont .schritte.active .nummer{
    display: block;
    float: left;
    margin-right: 7px;
    width: 23px;
    border: 1px solid #35aace;
    height: 23px;
    text-align: center;
    line-height: 21px;
}
.terminanfrageCont .schritteCont .schritte .nummer{
    font-weight: bold;
    margin-right: 5px;
}
.terminanfrageCont .schritteCont .grenze{
    display: block;
    width: 41px;
    height: 1px;
    text-align: center;
    background-color: #d8d8d8;
    float: right;
    top: 50%;
    position: absolute;
    right: -52px;
}
/****************************************/

/* Anfrage Container */
.anfrageCont{
    position: relative;
    //overflow: hidden;
    display:block;
    margin-top: 60px;
}

/* Normal Container */
.normalCont{
    position: relative;
    //overflow: hidden;
    display: block;
    margin-bottom: 120px;
}
.normalCont h3{
    margin-bottom: 50px;
}
.normalCont label{
    margin-left: 10px;
    margin-bottom: 13px;
}
.buttonCont{
    float: right;
}
.linkCont{
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 12px;
    border: 1px solid #d9d9d9;
    font-weight: bold;
}
.linkCont:hover{
    background-color: #ea9c36;
    border: 1px solid #ea9c36;
    color: white;
}
.linkCont#zuruck{
    margin-right: 8px;
}

/* Tooltip */
.bemerkung{
    background-image: url('/images/own/tooltip.png');
    display: block;
    width: 25px;
    height: 25px;
    background-size: cover;
    margin-left: 7px;
    background-repeat: no-repeat;
}
.bemerkung:hover .bemerkungCont{
    display: block;
}
.bemerkung:hover .tooltipZeiger{
    display: block;
}
.bemerkungCont{
    display: none;
    position: absolute;
    overflow: hidden;
    width: 260px;
    max-height: 150px;
    background-color: #46423f;
    margin-left: 50px;
    color: white;
    padding: 15px;
    font-size: 10pt;
    line-height: 1.5;
    bottom: 20px;
    left: 0;
}
.tooltipZeiger{
    display: none;
    position: absolute;
    bottom: -1px;
    background-image: url('/images/own/tooltip_zeiger.png');
    width: 35px;
    height: 23px;
    background-size: 100% 103%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-left: -6px;
}
.boxen{
    position: relative;
    //overflow: hidden;
    display: block;
}
.boxen *{
    float: left;
}

/* Terminplaner */

/* Error normalContainer */
.errorNormalCont{
    margin-top: 20px;
    width: 360px;
}
.errorCont{
    display: none;
}

/* BehandlungListe */
#checkBoxBehandlungen .boxen input[type="checkbox"]{
    margin-top: 7px;
}
/* Datepicker */
.freieTerminText{
    margin-left: 319px;
    color: #35aace;
    font-weight: bold;
    padding-top: 5px;
}
#datumZeitCont{
    position: relative;
    display: block;
    float: left;
    margin-left: 30px;
    max-height: 225px;
    width: 500px;
}
#datumZeitCont .boxen{
    float: left;
    margin-right: 40px;
}
.anfrageKalender{
    float: left;
}  
#datepicker{
    border: 1px solid black;
    padding: 5px;
}
#datepicker thead th{
    background-color: #f1f1f1;
    border-right: 1px solid white;
    padding: .4em .3em;
}
#datepicker tbody tr td{
    background-color: rgb(250,250,250);
    border: 1px solid #dddddd;
    font-weight: bold;

}
#datepicker tbody tr td a{
    color: #666666;
}
#datepicker tbody tr .ui-datepicker-unselectable ,#datepicker tbody tr .ui-state-disabled{
    background-color: #e9e9e9;
    font-weight:normal;
}
#datepicker tbody tr .ui-datepicker-today{
    background-image: url('/images/own/heuteTag.png');
    background-repeat: no-repeat;
    background-position: 2px 2px;
}
#datepicker tbody tr .ui-datepicker-current-day{
    background-color: #35aace;
}
#datepicker tbody tr .ui-datepicker-current-day a{
    color: white;
}
#datepicker .ui-datepicker select.ui-datepicker-month, #datepicker .ui-datepicker select.ui-datepicker-year{
    width: 33%;
    border: none;
    color: black;
}
#datepicker .ui-datepicker .ui-datepicker-prev{
    background-image: url('/images/own/kalendarArrow_links.png');
    background-repeat: no-repeat;
    left: 2px !important;
    background-size: 65%;
    width: 17px;
}
#datepicker .ui-datepicker .ui-datepicker-next{
    background-image: url('/images/own/kalendarArrow_rechts.png');
    background-repeat: no-repeat;
    background-size: 65%;
    width: 17px;
}
#datepicker .ui-datepicker .ui-datepicker-prev span,#datepicker .ui-datepicker .ui-datepicker-next span{
    display: none;
}
#datepicker .ui-datepicker .ui-datepicker-title{
    float: right;
    margin-right: -1px;
    width: 189px;
    margin-bottom: 8px;
}  
#datumCont .legende{
    position: relative;
    margin-top: 40px;
}
#datumCont .legende div{
    border: 1px solid #888280;
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
}#datumCont .legende div:after{
    margin-left: 60px;
    display: block;
    width: 180px;
}
#datumCont .legende .ausgewaehlter{
    background-color: #35aace;
}
#datumCont .legende .ausgewaehlter:after{
    content: " Ausgewählter Tag"
}
#datumCont .legende .freieTermine{
    background-color: rgb(250,250,250);
}
#datumCont .legende .freieTermine:after{
    content: " Freie Termine";
}
#datumCont .legende .heute{
    background-image: url('/images/own/heuteTag.png');
    background-repeat: no-repeat;
    background-position: 2px 2px;
}
#datumCont .legende .heute:after{
    content: " Heute";
}
/*! jQuery UI - v1.9.2 - 2012-11-23
* http://jqueryui.com
* Includes: jquery.ui.datepicker.css
* Copyright 2012 jQuery Foundation and other contributors; Licensed MIT */
.ui-datepicker{width:17em;padding:.2em .2em 0;display:none}
.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:4px;width:1.8em;height:1.8em; cursor: pointer;}
//.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{top:1px}
.ui-datepicker .ui-datepicker-prev{left:2px}
.ui-datepicker .ui-datepicker-next{right:2px}
/*.ui-datepicker .ui-datepicker-prev-hover{left:1px}
.ui-datepicker .ui-datepicker-next-hover{right:1px}*/
.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{
    display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px
}
.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center}
.ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0}
.ui-datepicker select.ui-datepicker-month-year{width:100%}
.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:49%}
.ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em}
.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0}
.ui-datepicker td{border:0;padding:1px}
.ui-datepicker td span,.ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none}
.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}
.ui-datepicker .ui-datepicker-buttonpane button{
    float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}
.ui-datepicker.ui-datepicker-multi{width:auto}
.ui-datepicker-multi .ui-datepicker-group{float:left}
.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em}
.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}
.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}
.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header{border-left-width:0}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}
.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}
.ui-datepicker-row-break{clear:both;width:100%;font-size:0em}
.ui-datepicker-rtl{direction:rtl}
.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}
.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}
/*.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}
.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}*/
.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}
.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current{float:right}
.ui-datepicker-rtl .ui-datepicker-group{float:right}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header{border-right-width:0;border-left-width:1px}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}
.ui-datepicker-cover{position:absolute;z-index:-1;filter:mask();top:-4px;left:-4px;width:200px;height:200px}
/***********************************/

/* Anfragsformular */
.anfrageFormular .linkeFelder{
    float: left;
    width: 500px;
}
.anfrageFormular .rechteFelder{
    float: right;
    width: 500px;
    border: none;
}
.anfrageFormular .rechteFelder .form-group{
    border: 1px solid #D9D9D9;
}
.anfrageFormular .rechteFelder .checkBoxen{
    margin-top: 20px;
}
.anfrageFormular .linkeFelder .zweiFelder input{
    width: 50%;
    float: left;
}
.anfrageFormular .linkeFelder .zweiFelder input:first-child{
    border-right: 1px solid #EBEBEB;
}
#terminanfrage-form .anfrageFormular input{
    border-bottom: 1px solid #EBEBEB;
}
.errorAnfrageCont li{
    margin-bottom: 5px;
}

.anfrageFormular ::-webkit-input-placeholder {
    color: #808080;
}

.anfrageFormular :-moz-placeholder { /* Firefox 18- */
    color:#808080;
}

.anfrageFormular ::-moz-placeholder {  /* Firefox 19+ */
    color: #808080;
}

.anfrageFormular :-ms-input-placeholder {  
    color: #808080;  
}

/* Angaben am schluss */
#abschlussCont .angabenCont{
    position: relative;
    overflow: hidden;
    display: block;
}
#abschlussCont .angabenCont .titelAngaben{
    display: block;
    width: 260px;
    float: left;
}
#abschlussCont .angabenCont .ausgabe{
    color: #35aace;
    width: 514px;
    position: relative;
    display: block;
    float: left;
}